{
    "presets": ["env", "stage-2", "react"],

    "env": {
        "production": {
            "presets": ["minify"]
        }
    },
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            },
            "transform-regenerator",
            "react-transform",
            {
                "transforms": [
                    {
                        "transform": "livereactload/babel-transform",
                        "imports": ["react"]
                    }
                ]
            }
        ]
    ]
}
